@page "/Report"

@using SharedProject1.Models
@using RoadSide.Database
@using IndexedDB.Blazor
@using RoadSide.Services
@using System.Text.Json
@using BlazorBootstrapToasts
@using RoadSide.Helpers
@using RoadSide.Models

@inject IIndexedDbFactory _dbFactory
@inject IHttpService _httpService
@inject IHttpServicePing _httpServicePing
@inject IJSRuntime _jsRuntime
@inject IStorageService _storageService
@inject NavigationManager _navigationManager
@inject UserService _userService

<PageTitle>New Report</PageTitle>

<div class="container-fluid pb-5">

    <EditForm Model="@Model" OnSubmit="Submit" FormName="form1">
       <Toast @ref="Toast"></Toast>
        <div class="text-center">
        <h3>Report Road Issue</h3>
        </div>
        <p>Use this form to submit details of Road Issues to your local council.</p>
        <div class="card shadow-sm  mt-2">
            <div class="card-body">
                <div class="card-title">
                    <h4><i class="bi bi-calendar-date "></i>&nbsp;Date</h4>
                </div>
                <InputDate class="form-control" @bind-Value="Model.ReportDate" />
            </div>
        </div>

        <div class="card shadow-sm  mt-2">
            <div class="card-body">
                <div class="card-title">
                    <h4><i class="bi bi-camera"></i>&nbsp;Photo</h4>
                </div>
                    <div class="text-center">
                        @{
                            if (!string.IsNullOrEmpty(ImageDataUrl))
                            {
                                <img src="@ImageDataUrl" width="100" />
                
                                <br />
                            }
                        }
                        <label for="photo" class="btn btn-primary mt-2">
                            @{
                                if (IsPhotoLoading)
                                {
                                     <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                                }
                                else
                                {
                                     <i class="bi bi-upload"></i>
                                }
                            }
                           &nbsp;Select Photo</label>
                </div>
                <InputFile class="form-control mt-2" id="photo" style="display:none;" OnChange="LoadFile" />
                
            </div>
        </div>

        <div class="card shadow-sm  mt-2">
            <div class="card-body">
                <div class="card-title">
                    <h4><i class="bi bi-geo-alt"></i>&nbsp;Location</h4>
                </div>
                <label class="form-label">Road Name</label>
                <InputText class="form-control" @bind-Value="Model.RoadName" maxlength="500" />
                 <div class="text-center">
                    <button type="button" class="btn btn-primary mt-2" @onclick="@GetCoords">
                         @{
                            if (IsGpsLoading)
                            {
                                 <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                            }
                            else
                            {
                                <i class="bi bi-send"></i>
                            }
                            }
                            &nbsp;Use GPS</button>
                
                            @{
                            if (Model.Latitude != 0)
                            {
                                <div class="divGps mt-2">
                                    <label><i class="bi bi-check-lg"></i>&nbsp;GPS: @Model.Latitude , @Model.Longitude</label>
                                </div>
                            }

                        }
                 </div>
            </div>
        </div>

        <div class="card shadow-sm  mt-2">
            <div class="card-body">
                <div class="card-title">
                    <h4><i class="bi bi-exclamation-triangle"></i>&nbsp;Issue Details</h4>
                </div>
                <label class="form-label">Description</label>
                <InputTextArea class="form-control" @bind-Value="Model.Description" maxlength="2000" rows="4" />
                 <div class="text-center">
                    <button type="submit" class="btn btn-primary mt-2">
                        @{
                            if (IsSending)
                            {
                                <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                            }
                            else
                            {
                                <i class="bi bi-floppy"></i>
                            }

                        }
                        <span role="status">&nbsp;Submit Fault Report</span>
                      </button>
                  </div>
            </div>
        </div>

        @{
            if (ListReports.Count > 0)
            {
                <div class="card shadow-sm  mt-2">
                    <div class="card-body">
                        <div class="card-title">
                            <h4><i class="bi bi-exclamation-triangle"></i>&nbsp;Sync Reports&nbsp;(@ListReports.Count)</h4>
                        </div>
                         <div class="text-center">
                            <button type="button" class="btn btn-primary mt-2" @onclick="@UploadReports">
                                @{if(IsUploading){
                                    <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                                }
                                else
                                {
                                    <i class="bi bi-cloud-arrow-up"></i>
                                }}
                                <span role="status">&nbsp;Send Reports</span>
                                </button>
                        </div>
                    </div>
                </div>
            }
        }

    </EditForm>
   
</div>

@code {
    public RoadReportDTO Model = new();
    public List<RoadReportDTO> ListReports = new();
    public string ImageDataUrl = string.Empty;
    public Toast Toast { get; set; }
    public string ReportedBy = string.Empty;
    public bool IsSending = false;
    public bool IsUploading = false;
    public bool IsPhotoLoading = false;
    public bool IsGpsLoading = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            User user = await _userService.FetchUserFromBrowser();
            if(!user.isAuthenticated)
                  _navigationManager.NavigateTo("SignIn");

            ReportedBy = user.Email;

            await LoadReports();
        }
    }

    private async Task UploadReports()
    {
        IsUploading = true;
        StateHasChanged();

        if (await PingApi())
        {
            using (var db = await _dbFactory.Create<Roadside>())
            {
                foreach (RoadReportDTO report in ListReports)
                {
                    bool result = await _httpService.PostAsyncBool<RoadReportDTO>("Home", report);
                    if (result)
                    {
                        db.RoadReports.Remove(report);
                        await db.SaveChanges();
                    }
                }

            }
              await LoadReports();
        }
        else
        {
              await Toast.Show("danger","You appear to be offline. Please try later.",3000);
        }
      
        IsUploading = false;
        StateHasChanged();
    }

    private async Task LoadReports()
    {
        using (var db = await _dbFactory.Create<Roadside>())
        {
            ListReports = db.RoadReports.ToList();
        }

        StateHasChanged();
    }

    private async void LoadFile(InputFileChangeEventArgs e)
    {
        IsPhotoLoading = true;
        StateHasChanged();

        var stream = e.File.OpenReadStream(maxAllowedSize: 10 * 1024 * 1024);
        using var ms = new MemoryStream();
        await stream.CopyToAsync(ms);
        Model.Photo = ms.ToArray();

        ImageDataUrl = $"data:image;base64,{Convert.ToBase64String(Model.Photo)}";

        IsPhotoLoading = false;

        StateHasChanged();
    }

    private async Task Submit()
    {
        if (string.IsNullOrEmpty(Model.RoadName))
        {
            await Toast.Show("danger","Please enter a Road Name",3000);
            return; 
        }
        if (string.IsNullOrEmpty(Model.Description))
        {
            await Toast.Show("danger","Please enter a description",3000);
            return; 
        }

        Model.ReportedBy = ReportedBy;

        IsSending= true;
        StateHasChanged();

        if(await PingApi())
        {
             bool result = false;
              try
            {
                result = await _httpService.PostAsyncBool<RoadReportDTO>("Home", Model);
            }
            catch (Exception ex)
            {
                result = false;
                Console.WriteLine(ex.Message + " " + ex.StackTrace);
            }

            if (result)
            { 
                await Toast.Show("success","Thank you. Your report has been submitted.",3000);
            }
        }
        else
        {
            using (var db = await _dbFactory.Create<Roadside>())
            {
                db.RoadReports.Add(Model);

                await db.SaveChanges();
            }

            await Toast.Show("success","Thank you. You are offline. Your report has been saved for later sending.",3000);
        }
      
        Model = new();
        Model.ReportedBy = ReportedBy;
        ImageDataUrl = string.Empty;

        await LoadReports();

        IsSending= false;

        StateHasChanged();
    }

    private async Task GetCoords()
    {
        IsGpsLoading = true;
        StateHasChanged();
        // await _jsRuntime.InvokeVoidAsync("iain");
        Coords myCoords = await _jsRuntime.InvokeAsync<Coords>("getCoords");

        Model.Latitude = myCoords.Lat;
        Model.Longitude = myCoords.Lng;

        IsGpsLoading = false;
        StateHasChanged();

    }

    private async Task<bool> PingApi()
    {
        bool result = await _httpServicePing.Ping();

        return result;
    }

    private async Task GoBack()
    {
        _navigationManager.NavigateTo("/ReportsList");
    }
    public class Coords
    {
        public double Lat { get; set; }
        public double Lng { get; set; }
    }
}
